.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 0;
}

main {
  margin: 0px 50px;
  min-height: 100vh;
}

header {
  display: flex;
  background-color: #7b2053;
  color: #fff;
  box-shadow: 0px 1px 2px 0px #000;
}

select {
  border-radius: 30px;
  overflow: hidden;
  background: #7b2053;
  border: 2px solid #7b2053;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0px 1px #000;
  text-align: center;
  width: 100%;
}

#root {
  background-color: #fffad5;
}

.title-container, .navigation-container {
  flex: 1;
}

.title-container {
  text-align: center;
}

.title-container h1 {
  text-shadow: 0px 2px #000;
  height: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
  font-size: 38px;
}

.navigation-container {
  height: inherit;
}

.navigation, .nav-items {
  height: 100%;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: table;
  height: 100%;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 1px #000;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 15px 30px;
  transition: 0.4s ease;
}

.nav-item a:hover {
  background-color: #fff;
  color:#7b2053;
  text-shadow: none;
}

.active-nav-item {
  background-color: #ffe5aa !important;
  color:#7b2053 !important;
  text-shadow: none !important;
}

footer {
  /* position: absolute;
  top: 100%; */
  text-align: center;
  background-color:#7b2053;
  color: #fff;
  width: 100%;
}

.copyright {
  margin: 0;
  padding: 15px;
  font-size: 15px;
}

.page-title {
  text-align: center;
  margin: 20px 0px 25px 0px;
}

.ingredient-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.ingredient-item {
  height: 345px;
  /* background-color:#54b2c2; */
  font-weight: bold;
  letter-spacing: 0.7px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
  perspective: 1000px;
}

.ingredient-item-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.ingredient-item:hover .ingredient-item-inner {
  transform: rotateY(180deg);
}

.ingredient-item .main-title, .ingredient-item .main-info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0px 0px 1px 0px #000;
  padding: 20px;
  box-sizing: border-box;
}

.ingredient-item .main-title {
  display: table;
  background-color: #54b2c2;
}

.ingredient-item .main-title .item.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 34px;
}

.ingredient-item .main-info {
  transform: rotateY(180deg);
  display: table;
  color: #fff;
  text-shadow: 0px 2px #000;
  background-color:#7b2053;
}

.ingredient-item .main-info .main-info-inner {
  display: table-cell;
  vertical-align: middle;
}

.ingredient-item .main-info .main-info-inner .item {
  font-size: 20px;
  padding: 0px 10px;
  text-align: left;
}

.ingredient-item .main-title:hover {
  background-color:#6de4f9;
}

.search-cocktail-form, .random-cocktail-container {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.cocktail-name-input {
  width: 75%;
  padding: 10px 10px 10px 30px;
  box-shadow: none;
  outline: none;
  color: #7b2053;
  background: #fff0;
  border: 2px solid #7b2053;
  border-right: none;
  font-size: 20px;
  letter-spacing: 1px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

::placeholder {
  color: #7b2053;
  font-style: normal;
  letter-spacing: 1px;
  opacity: 0.3;
}

.cocktail-name-search-button, .random-cocktail {
  border: 2px solid #7b2053;
  background-color: #7b2053;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0px 1px #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.cocktail-name-search-button {
  width: 20%;
  padding: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cocktail-name-search-button:hover, .random-cocktail:hover {
  background-color:#e03596;
  border: 2px solid #e03596;
}

.random-cocktail-container {
  text-align: center;
}

.random-cocktail {
  padding: 10px;
  width: 40%;
  margin-bottom: 30px;
  border-radius: 30px;
}

.cocktail-alphabet {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.cocktail-alphabet-title {
  margin: 0;
}

.cocktail-letter-container {
  width: 50%;
  margin: auto;
  display: flex;
}

.cocktail-letter-inner-container {
  display: flex;
  margin: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px 0px;
  border-bottom: 2px solid #000;
}

.cocktail-letter {
  border: none;
  border-radius: 50%;
  margin: 5px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #7b2053;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px #000;
  cursor: pointer;
  transition: 0.2s ease;
}

.cocktail-letter:hover {
  background-color:#e03596;
}

.filter-cocktail-container {
  text-align: center;
}

.filter-cocktail-container-inner {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding: 30px 0;
  border-bottom: 2px solid #000;
}

.filter-cocktail-container-inner > div {
  width: 30%;
}